.DS_Store
artifacts/

imgine/Resources/SDModel.zip

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

### ignoring python related stuff ###
imgine/Resources/Python/Resources/app_packages
imgine/Resources/Python/Resources/python-stdlib
imgine/Resources/Frameworks/Python.xcframework